body {
    background: lightgrey;
}

.notes {
    background: #d3d0d0;
    color: rgb(49, 175, 163);
}

.headers-descriptions {
    background: #d3d0d0;
    color: rgb(49, 175, 163);
}

.main-header {
    background: #d3d0d0;
}

.nav-header {
    color: white;
    background: black;
}

.article-text {
    background: #d3d0d0;
    color: black;
}

.image {
    background: #d3d0d0;
    color: rgb(49, 175, 163);
}

.footer {
    background: #d3d0d0;
    color: rgb(49, 175, 163);
}

.go-biogram {
    background: #d3d0d0;
}